.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: relative;
	background-color: #f9fafb;
	text-align: center;
	border: 1px solid #d3d9de;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-o-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	cursor: pointer;
	height: 32px;
	line-height: 32px;
	margin: 0 auto;
	width: 292px;
}
.webuploader-pick-hover {
	background: #F6F6F6;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

