html {
  color: #000;
  background: #fff;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  font-family: sans-serif;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
del {
  text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
q:before,
q:after {
  content: '';
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
a:hover {
  text-decoration: underline;
}
ins,
a {
  text-decoration: none;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
.easyDialog_wrapper {
  width: auto;
  color: #444;
  border: 3px solid rgba(0, 0, 0, 0);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: none;
  font-family: "Microsoft yahei", Arial;
  background: #fff;
}
.easyDialog_wrapper .easyDialog_content {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #e5e5e5;
}
.easyDialog_wrapper .easyDialog_title {
  height: 0.8rem;
  line-height: 0.8rem;
  overflow: hidden;
  color: #fff;
  padding: 0 0.133333rem;
  font-size: 14px;
  border-bottom: 1px solid #e5e5e5;
  background: #F10583;
  border-radius: 4px 4px 0 0;
}
.easyDialog_wrapper .close_btn {
  font-family: arial;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  float: right;
}
.easyDialog_wrapper .close_btn:hover {
  color: #fff;
}
.easyDialog_wrapper .easyDialog_text {
  padding: 0.333333rem 0.133333rem;
  font-size: 13px;
  line-height: 0.293333rem;
}
.easyDialog_wrapper .easyDialog_footer {
  padding: 0 0.133333rem;
  *zoom: 1;
}
.easyDialog_wrapper .easyDialog_footer:after {
  content: '';
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}
.easyDialog_wrapper .btn_highlight,
.easyDialog_wrapper .btn_normal {
  border: 1px solid;
  border-radius: 2px;
  cursor: pointer;
  font-family: "Microsoft yahei", Arial;
  float: right;
  font-size: 12px;
  padding: 0 12px;
  height: 0.32rem;
  line-height: 0.32rem;
  margin-bottom: 10px;
}
.easyDialog_wrapper .btn_highlight {
  background: #4787ed;
  background: -webkit-gradient(linear, center bottom, center top, from(#4787ed), to(#4d90fe));
  background: -moz-linear-gradient(90deg, #4787ed, #4d90fe);
  border-color: #3079ed;
  color: #fff;
}
.easyDialog_wrapper .btn_normal {
  margin-left: 10px;
  border-color: #c3c3c3;
  background: #ececec;
  color: #333;
  background: -webkit-gradient(linear, center bottom, center top, from(#ececec), to(#f4f4f4));
  background: -moz-linear-gradient(90deg, #ececec, #f4f4f4);
}
.loginBox {
  width: 8.666667rem;
}
.loginBox .login_tips {
  margin-top: 10px;
  height: 0.32rem;
  line-height: 0.32rem;
  color: #e33b3e;
  background-color: #ffdfdd;
  border: 1px solid #FFB3B3;
  padding: 3px 10px;
  display: none;
}
.loginBox ul {
  margin-top: 0.266667rem;
}
.loginBox li {
  color: #999;
  position: relative;
}
.loginBox input {
  border: none;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  -o-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  margin-top: 5px;
  color: #666;
  padding-bottom: 11px;
  padding-top: 11px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}
.loginBox #un {
  border-bottom: 1px solid #ccc;
}
.loginBox #un,
.loginBox #pw {
  padding-left: 32px;
}
.loginBox .error {
  border: 1px solid #FFB3B3;
}
.loginBox .login {
  color: #FFF;
  width: 100%;
  font-size: 16px;
  text-align: center;
  background: #f10582;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -o-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  border: none;
  font-family: \5fae\8f6f\96c5\9ed1;
  cursor: pointer;
  padding: 0.266667rem 0;
  margin-top: 0.533333rem;
}
.loginBox .I-ico {
  font-size: 16px;
  left: 9px;
  position: absolute;
  top: 16px;
  color: #CCC;
}
html,
body {
  height: 100%;
}
body {
  background-color: #EFF0F4;
  font-family: \5fae\8f6f\96c5\9ed1;
  font-size: 12px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
@font-face {
  font-family: 'icomoon';
  src: url('/mobile/fonts/icomoon.eot');
  /* IE9*/
  src: url('/mobile/fonts/icomoon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/mobile/fonts/icomoon.woff') format('woff'), /* chrome、firefox */ url('/mobile/fonts/icomoon.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('/mobile/fonts/icomoon.svg#uxicomoon') format('svg');
  /* iOS 4.1- */
}
.I-ico {
  font-family: "icomoon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}
.f-fl {
  float: left;
}
.f-fr {
  float: right;
}
.g-gird {
  width: 10.0rem;
  margin: auto;
  background: #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}
.f-align-c {
  text-align: center;
}
.f-align-r {
  text-align: right;
}
.f-align-l {
  text-align: left;
}
.fc-red {
  color: #f10582;
}
.m-hd {
  background-color: #F10583;
  top: 0px;
  *zoom: 1;
  padding: 15px 1%;
  position: fixed;
  width: 98%;
  z-index: 999;
}
.m-hd:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  *zoom: 1;
}
.m-hd .I-ico {
  font-size: 36px;
}
.m-order-list {
  background-color: #fff;
  margin-top: 0.4rem;
  padding: 0.133333rem;
}
.m-order-list .order-box {
  *zoom: 1;
  padding: 0.133333rem 0;
  border-bottom: 1px solid #f2f2f2;
}
.m-order-list .order-box:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  *zoom: 1;
}
.m-order-list .pic {
  float: left;
  margin-left: -100%;
  width: 2.6rem;
  height: 2.6rem;
  background-color: #ccc;
}
.m-order-list .pic img {
  width: 2.6rem;
  height: 2.6rem;
}
.m-order-list .info-box {
  float: left;
  width: 100%;
}
.m-order-list .info {
  margin-left: 2.733333rem;
}
.m-order-list .shop-tt {
  padding: 0.04rem 0.066667rem;
  font-size: 16px;
  line-height: 0.8rem;
  height: 0.8rem;
  border-bottom: 1px solid #f2f2f2;
  overflow: hidden;
}
.m-order-list .shop-tt h2 {
  color: #333;
  position: relative;
  font-size: 16px;
}
.m-order-list .tt {
  font-size: 14px;
  height: 1.2rem;
  line-height: 0.55rem;
  overflow: hidden;
}
.m-order-list .config {
  color: #999;
  font-size: 12px;
  line-height: 0.4rem;
}
.m-order-list .config span {
  margin-left: 0.066667rem;
}
.m-order-list .price-box {
  *zoom: 1;
  padding-top: 0.16rem;
}
.m-order-list .price-box:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  *zoom: 1;
}
.m-order-list .price {
  color: #f10582;
  font-size: 14px;
  float: left;
  margin-right: 0.266667rem;
  margin-top: 0.2rem;
}
.m-order-list .num {
  color: #333;
  float: right;
}
.m-order-list .total {
  border-bottom: 1px solid #f2f2f2;
  text-align: right;
  padding: 0.066667rem;
  color: #787878;
}
.m-order-list .total span {
  color: #333;
}
.m-order-list .set-box {
  text-align: right;
  padding: 0.066667rem;
}
.m-order-list .assess {
  padding: 5px 0;
}
.m-order-list .assess label {
  margin-right: 10px;
}
.m-order-list .assess .txt {
  width: 100%;
  height: 80px;
}
.m-order-state {
  background-color: #f10582;
  padding: 10px 15px;
  color: #fff;
}
.m-order-state .state {
  margin-left: 10px;
  font-size: 18px;
}
.m-order-state .I-ico {
  font-size: 24px;
  vertical-align: middle;
}
.m-box {
  background-color: #fff;
  padding: 0.066667rem;
  width: 10rem;
  margin: auto;
  box-sizing: border-box;
}
#setSize {
  line-height: 0.8rem;
}
.m-ps-box {
  line-height: 0.8rem;
  padding: 0.1rem 0.2rem;
  font-size: 14px;
}
.m-ps-box .price {
  color: #f10582;
}
.m-box-ubg {
  padding: 5px;
}
.m-ico-box {
  *zoom: 1;
  padding: 0.2rem 0;
}
.m-ico-box:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  *zoom: 1;
}
.m-ico-box .ico-box {
  float: left;
  width: 100%;
}
.m-ico-box .ico-box .fc-red {
  color: #f10582;
  padding: 0 5px;
}
.m-ico-box .info {
  margin-left: 0.9rem;
  line-height: 0.45rem;
  padding: 0.106667rem 0.066667rem;
  height: 1.0rem;
  *zoom: 1;
  font-size: 14px;
}
.m-ico-box .info:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  *zoom: 1;
}
.m-ico-box .ico {
  float: left;
  margin-left: -100%;
  width: 0.8rem;
  text-align: center;
  height: 1.0rem;
  line-height: 1.0rem;
}
.m-ico-box .I-ico {
  font-size: 26px;
  color: #CCC;
}
.m-ico-box .pay-success {
  font-size: 20px;
  line-height: 1.5;
  color: #339727;
}
.m-ico-box .pay-ico {
  color: #339727;
}
.logistics-msg {
  color: #333;
  display: none;
}
.m-goods-index .tt {
  color: #333;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}
.m-goods-index .tt .tip {
  float: right;
  color: #f10582;
  font-size: 14px;
  margin-top: -8px;
}
.m-goods-index .tt .tip em {
  color: #666;
  font-size: 26px;
  vertical-align: sub;
  margin-left: 5px;
}
.m-goods-index .cont {
  padding: 10px 0 0 0;
  overflow: hidden;
}
.m-goods-index .cont ul {
  width: 101%;
  margin-left: -1%;
}
.m-goods-index .cont li {
  float: left;
  width: 32.3%;
  margin-left: 1%;
  overflow: hidden;
  margin-bottom: 10px;
}
.m-goods-index .cont li .pic {
  overflow: hidden;
}
.m-goods-index .cont li img {
  width: 100%;
}
.m-goods-index .cont .price-box {
  *zoom: 1;
  font-size: 12px;
  line-height: 26px;
}
.m-goods-index .cont .price-box:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  *zoom: 1;
}
.m-goods-index .cont .price-box .price {
  color: #f10582;
}
.m-goods-index .cont .price-box .un-price {
  margin-left: 10px;
  color: #666;
  text-decoration: line-through;
}
.m-goods-index .cont .price-box .I-ico {
  float: right;
  color: #f546a2;
  font-size: 22px;
}
.m-goods-index .cont-show {
  padding: 10px 0;
}
.m-goods-index .cont-show .adshow {
  width: 100%;
  overflow: hidden;
}
.m-goods-index .cont-show .adshow img {
  width: 100%;
}
.m-goods-index .cont-show .logo-shwo {
  border: 1px solid #e6e6e6;
  margin-top: 20px;
  overflow: hidden;
}
.m-goods-index .cont-show .logo-shwo ul {
  margin: -1px 0 0 -1px;
}
.m-goods-index .cont-show .logo-shwo li {
  float: left;
  width: 25%;
  text-align: center;
}
.m-goods-index .cont-show .logo-shwo li a {
  border-left: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  display: block;
  line-height: 0px;
}
.m-goods-index .cont-show .logo-shwo li img {
  width: 100%;
}
.g-slider {
  height: 10.0rem;
  overflow: hidden;
  position: relative;
}
.g-slider .cont-box {
  height: 10.0rem;
  top: 0;
  width: 100%;
  position: absolute;
  left: 0px;
}
.g-slider .cont-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.g-slider .cont-box li {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  list-style: none;
}
.g-slider .cont-box img {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}
.g-slider .pic-box {
  height: 200px;
  left: -50%;
  position: absolute;
  width: 100%;
}
.g-slider .pic-item {
  overflow: hidden;
  text-align: center;
}
.m-manageAdd {
  *zoom: 1;
  padding: 0.08rem;
  border-bottom: 1px solid #ccc;
}
.m-manageAdd:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  *zoom: 1;
}
.m-manageAdd .cont {
  width: 100%;
  float: left;
}
.m-manageAdd .cont .txt {
  margin-right: 0.666667rem;
  font-size: 12px;
}
.m-manageAdd .cont span {
  float: right;
  font-weight: 400;
  color: #666;
  margin-right: 0.133333rem;
}
.m-manageAdd .cont .address {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #666;
  line-height: 0.666667rem;
}
.m-manageAdd .cont h3 {
  line-height: 3;
}
.m-manageAdd .op {
  float: left;
  margin-left: -0.666667rem;
  width: 0.666667rem;
  text-align: center;
  line-height: 3;
}
.m-fillAdd {
  font-size: 12px;
  border-bottom: 1px solid #ccc;
}
.m-fillAdd li {
  padding: 0.106667rem 0.133333rem;
  line-height: 0.46rem;
}
.m-fillAdd .txt-input {
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -o-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #ccc;
  padding: 0.066667rem;
  width: 5.2rem;
}
.m-fillAdd .f-tip {
  margin-left: 0.133333rem;
}
.m-fillAdd .wrongCss {
  color: #ff0000;
}
.m-fillAdd .rightCss {
  color: #54985a;
}
.m-goods-info {
  font-size: 12px;
}
.m-goods-info .cont .op {
  margin-right: 0.266667rem;
}
.m-goods-info .cont .price {
  color: #f10582;
  margin-right: 0.133333rem;
  font-size: 14px;
}
.m-goods-info .cont .un-price {
  color: #cacaca;
  text-decoration: line-through;
}
.m-goods-info .cont .tt {
  padding: 0.106667rem 0;
  border-bottom: 0.013333rem solid #e5e5e5;
  font-size: 16px;
  line-height: 0.613333rem;
}
.m-goods-info .Sign {
  padding: 0.066667rem 0 ;
}
.m-goods-info .Sign li {
  float: left;
  width: 50%;
  text-align: center;
}
.m-goods-info .Sign li .I-ico {
  color: #f10582;
  font-size: 26px;
  vertical-align: middle;
  margin-right: 0.066667rem;
  margin-right: 0.106667rem;
}
.m-goods-info .Sign li span {
  color: #ff0000;
}
.m-goods-box {
  background-color: #fff;
}
.m-goods-box .tt {
  background-color: #f7f8f9;
  font-size: 16px;
  line-height: 0.533333rem;
  padding: 0.066667rem 0.133333rem;
}
.m-goods-box .cont {
  overflow: hidden;
}
.m-goods-box .cont img {
  width: 100%;
  margin: auto;
}
.m-goods-box .cont .shoptype li {
  width: 50%;
  float: left;
  overflow: hidden;
  line-height: 0.48rem;
  box-sizing: border-box;
  padding: 0.04rem 0.066667rem;
  color: #454545;
  font-size: 12px;
}
.m-goods-box .cont .info {
  display: none;
}
.m-size {
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: #fff;
}
.m-size .I-ico {
  position: absolute;
  right: 5px;
  top: -10px;
  font-size: 26px;
  width: 24px;
  height: 24px;
  color: #999;
  background-color: #777;
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  -o-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
  color: #fff;
  line-height: 26px;
}
.m-size .goods {
  *zoom: 1;
  padding-top: 0.2rem;
  border-bottom: 1px solid #eee;
}
.m-size .goods:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  *zoom: 1;
}
.m-size .goods .pic {
  float: left;
  margin-left: -100%;
  width: 2.266667rem;
  height: 2.266667rem;
}
.m-size .goods .pic img {
  width: 2.133333rem;
  margin-left: 0.133333rem;
}
.m-size .goods .cont {
  float: left;
  width: 100%;
}
.m-size .goods .cont .txt {
  margin-left: 2.266667rem;
  padding: 0.133333rem 0.266667rem 0.133333rem 0.133333rem;
  font-size: 14px;
  height: 2.266667rem;
}
.m-size .goods .cont .txt h2 {
  height: 1.333333rem;
  font-weight: normal;
  overflow: hidden;
  margin-bottom: 0.133333rem;
  font-size: 16px;
}
.m-size .goods .cont .price {
  color: #f10582;
}
.m-size .goods .cont .un-price {
  color: #999;
  text-decoration: line-through;
  margin: 0 0.133333rem;
  font-size: 14px;
}
.m-size dl {
  padding: 0 0.266667rem;
}
.m-size dt {
  font-size: 16px;
  padding: 0.133333rem 0 0 0;
}
.m-size dd {
  border-bottom: 1px solid #eee;
  padding: 0.066667rem 0;
  display: block;
}
.m-size dd span {
  line-height: 16px;
  margin: 0.04rem 0.106667rem;
  padding: 0.106667rem;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -o-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  display: inline-block;
}
.m-size dd .dotted {
  border: 1px solid #c7c7c7;
}
.m-size dd .solid {
  color: #F00482;
  border: 1px solid #F00482;
}
.m-size dd .notClass {
  border: 1px dotted #ccc;
  cursor: not-allowed;
  background-color: #F9F9F9;
}
.m-size dd .J_Stock {
  margin-right: 0.133333rem;
}
.m-size #from-size {
  margin-top: 0.266667rem;
}
#J-Stock {
  line-height: 0.426667rem;
  color: #999;
  *zoom: 1;
}
#J-Stock:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  *zoom: 1;
}
#J-Stock .txt {
  margin: -0.133333rem 0 0 0.133333rem;
  padding: 0px;
}
#J-Stock #stock {
  color: #f10582;
  line-height: 18px;
}
#J-Stock .cutNum,
#J-Stock .addNum {
  background-color: #fff;
  border: 1px solid #c7c7c7;
  width: 0.8rem;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 18px;
  font-family: \5fae\8f6f\96c5\9ed1;
  float: left;
  color: #333;
  margin: 0;
  padding: 0;
}
#J-Stock .addNum {
  border-left: 0 none !important;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
#J-Stock .cutNum {
  border-right: 0 none !important;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
#J-Stock #quantity,
#J-Stock .quantity {
  background-color: #fff;
  border: 1px solid #c7c7c7;
  height: 0.8rem;
  padding: 0 0.066667rem;
  width: 0.8rem;
  outline: 0 none;
  text-align: center;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  -o-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  float: left;
}
#J-Stock .disableNum {
  background-color: #ededed;
  color: #ccc;
  cursor: not-allowed;
}
.m-order-box {
  border-top: 1px solid #f2f2f2;
  line-height: 0.7rem;
  padding: 0.106667rem 0 ;
  font-size: 14px;
}
.m-order-box span {
  color: #a2690f;
}
.m-order-box .copyBox {
  background-color: #f2f3f4;
  border: 1px dashed #e8e8e8;
  padding: 0.08rem 0.266667rem;
}
.m-mark {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 999;
}
.m-pal-box h2 {
  line-height: 0.8rem;
  padding: 0.04rem 0.16667rem;
  font-size: 16px;
}
.m-pal-box .crtdd {
  padding: 0.35rem 0.166667rem;
  border-top: 1px solid #f2f2f2;
  font-size: 14px;
}
.m-pal-box .crtdd .radio {
  margin-right: 0.133333rem;
}
.m-pal-box .crtdd .tip {
  font-size: 12px;
  color: #999;
}
.m-pal-box .crtdd em {
  color: #f10582;
}
.m-pal-box .z-crt {
  background-color: #f7f8f9;
}
.m-pay-mt {
  height: 2rem;
}
.m-pay-success {
  color: #339727;
  font-size: 16px;
  margin-top: 28%;
  padding: .3rem 0;
  text-align: center;
}
.m-pay-success h1 {
  margin-top: 0.5rem;
}
.m-pay-success .I-ico {
  font-size: 36px;
}
.m-pay-success .m-order-box {
  color: #666;
  padding: .5rem 0.133333rem 0;
}
.m-pay-tip {
  line-height: 2;
  font-size: 14px;
}
.m-pay-tip dt {
  padding: 0.1rem 0 ;
}
.m-pay-tip dt span {
  color: #a2690f;
}
.m-pay-tip dd {
  border-top: 1px solid #f2f2f2;
  padding: 0.1rem 0 ;
}
.m-pay-tip dd em {
  color: #f10582;
}
.m-pay-tip dd span {
  color: #f10582;
  font-size: 24px;
  margin: 0 .1rem;
}
.g-msg-box .tt {
  font-size: 16px;
  line-height: 0.8rem;
  padding: 0.04rem 0.16667rem;
}
.g-msg-box .cont textarea {
  width: 100%;
  height: 3rem;
  border: 1px solid #999;
  padding: 0.26rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}
.g-ft {
  background-color: #f7f8f9;
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  border-top: 1px solid #f2f2f2;
}
.btn-box {
  line-height: 0.8rem;
  font-size: 16px;
}
.btn-box .btn {
  line-height: 0.6rem;
  border: 0px none;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  font-family: \5fae\8f6f\96c5\9ed1;
}
.btn-box .buy {
  width: 30%;
  background-color: #F10583;
}
.btn-box .true {
  width: 100%;
  background-color: #F10583;
}
#from-size {
  display: none;
}
.btn-red {
  background-color: #f10582;
  color: #fff;
  border: 1px solid #f10582;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  -o-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  padding: 5px 15px;
  cursor: pointer;
  display: inline-block;
  line-height: 24px;
}
.btn-magenta {
  background-color: #f785c1;
  color: #fff;
  border: 1px solid #f785c1;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -o-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  padding: 5px 15px;
  cursor: pointer;
  display: inline-block;
  line-height: 24px;
}
.btn-grey {
  background-color: #F5F5F5;
  color: #999;
  border: 1px solid #E5E5E5;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -o-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  padding: 5px 15px;
  cursor: pointer;
  display: inline-block;
  line-height: 24px;
}
.u-pageMain {
  float: right;
  margin-top: 25px;
  clear: both;
}
.u-pageMain a {
  display: block;
  float: left;
  margin-left: -1px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border: 1px solid #e9e9e9;
  background-color: #fff;
  overflow: hidden;
  color: #3d3d3d;
  font-weight: normal;
  text-align: center;
}
.u-pageMain a:hover {
  position: relative;
  z-index: 1;
  border-color: #f11d52;
  color: #f11d52;
}
.u-pageMain .u-sel {
  background-color: #f10582;
  border: 1px solid #f10582;
  color: #fff;
}
.u-pageMain .u-sel:hover {
  color: #fff;
}
.u-pageMain .u-go-page {
  display: block;
  float: left;
  line-height: 28px;
}
.u-pageMain .u-next,
.u-pageMain .u-go-page {
  margin-left: 5px;
  margin-right: 5px;
}
.u-pageMain .u-next,
.u-pageMain .u-prev {
  font-family: \5b8b\4f53;
}
.u-pageMain .u-prev {
  margin-right: 10px;
}
.u-pageMain .u-mid,
.u-pageMain .u-etc {
  display: block;
  float: left;
  width: 24px;
  border: none;
  line-height: 37px;
  text-align: center;
  cursor: default;
}
.u-pageMain .u-ipt-txt {
  width: 55px;
  padding: 5px 0;
  background-color: #fff;
  cursor: text;
  letter-spacing: 0;
  border: 1px solid #ccc;
  text-align: center;
}
.u-pageMain .u-page-submit {
  margin: 0 0 0 5px;
  cursor: pointer;
  padding: 5px;
  padding: 5px\9;
  _padding: 4px;
  width: 58px;
  background-color: #f5f5f5;
  color: #666;
  border: 1px solid #ccc;
}
.u-pageMain .u-page-form {
  float: left;
  display: inline-block;
  _display: inline;
  margin-left: 5px;
}
.u-pageMain .u-page-form span {
  float: none;
}
a#backToTop {
  display: none;
  position: fixed;
  right: 0;
  bottom: 100px;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
  font-size: 0;
}
a#backToTop span {
  border-radius: 100px;
  color: #666;
  display: block;
  font-size: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  width: 34px;
  margin-top: 0;
}
.mt {
  margin-top: 0.4rem;
}
.mb-ft {
  padding-bottom: 0.6rem;
}
.mt-hd {
  margin-top: 90px;
}
.hide {
  display: none;
}
input[type="button"],
input[type="submit"],
input[type="reset"] {
  -webkit-appearance: none;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  -o-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
[data-dpr="2"] .m-goods-info {
  font-size: 24px;
}
[data-dpr="2"] .m-goods-info .cont .price {
  font-size: 28px;
}
[data-dpr="2"] .m-goods-info .cont .tt {
  font-size: 32px;
}
[data-dpr="2"] .m-goods-info .Sign li .I-ico {
  font-size: 52px;
}
[data-dpr="2"] .m-goods-box .tt {
  font-size: 32px;
}
[data-dpr="2"] .m-goods-box .cont .shoptype li {
  font-size: 24px;
}
[data-dpr="2"] .btn-box {
  font-size: 28px;
  line-height: 1.1rem;
}
[data-dpr="2"] .btn-box .btn {
  line-height: 1.0rem;
  font-size: 32px;
}
[data-dpr="2"] .easyDialog_wrapper .easyDialog_title {
  font-size: 28px;
  height: 0.9rem;
  line-height: 0.9rem;
}
[data-dpr="2"] .easyDialog_wrapper .close_btn {
  font-size: 40px;
}
[data-dpr="2"] .easyDialog_wrapper .btn_highlight,
[data-dpr="2"] .easyDialog_wrapper .btn_normal {
  font-size: 24px;
  height: 0.48rem;
  line-height: 0.48rem;
}
[data-dpr="2"] .loginBox .login_tips {
  margin-top: 10px;
  height: 0.32rem;
  line-height: 0.32rem;
}
[data-dpr="2"] .loginBox input {
  padding: 0.25rem 0.25rem 0.25rem  ;
}
[data-dpr="2"] .loginBox #un,
[data-dpr="2"] .loginBox #pw {
  padding-left: 0.853333rem;
  width: 100%;
  font-size: 24px;
}
[data-dpr="2"] .loginBox .login {
  padding: 0.106667rem 0;
  font-size: 32px;
}
[data-dpr="2"] .loginBox .I-ico {
  font-size: 32px;
  top: 0.4rem;
}
[data-dpr="2"] .m-size .I-ico {
  right: 5px;
  top: -0.4rem;
  font-size: 52px;
  width: 50px;
  height: 50px;
  line-height: 50px;
}
[data-dpr="2"] .m-size .goods .cont .txt {
  margin-left: 2.266667rem;
  font-size: 24px;
}
[data-dpr="2"] .m-size .goods .cont .txt h2 {
  font-size: 30px;
}
[data-dpr="2"] .m-size .goods .cont .un-price {
  font-size: 24px;
}
[data-dpr="2"] .m-size dt {
  font-size: 26px;
}
[data-dpr="2"] .m-size dd span {
  line-height: 0.533333rem;
  font-size: 30px;
}
[data-dpr="2"] #J-Stock .txt {
  padding-top: 0.28rem;
}
[data-dpr="2"] #J-Stock .cutNum,
[data-dpr="2"] #J-Stock .addNum {
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  font-size: 40px;
}
[data-dpr="2"] #J-Stock #quantity,
[data-dpr="2"] #J-Stock .quantity {
  height: 1rem;
  width: 1rem;
  font-size: 32px;
}
[data-dpr="2"] .g-msg-box .tt {
  font-size: 32px;
}
[data-dpr="2"] .g-msg-box .cont textarea {
  font-size: 28px;
}
[data-dpr="2"] .m-order-list .shop-tt {
  font-size: 32px;
}
[data-dpr="2"] .m-order-list .shop-tt h2 {
  font-size: 32px;
}
[data-dpr="2"] .m-order-list .tt {
  font-size: 28px;
}
[data-dpr="2"] .m-order-list .config {
  font-size: 24px;
}
[data-dpr="2"] .m-order-list .price {
  font-size: 28px;
}
[data-dpr="2"] .m-manageAdd .cont .txt {
  font-size: 24px;
}
[data-dpr="2"] .m-manageAdd .I-ico {
  font-size: 30px;
}
[data-dpr="2"] .m-fillAdd {
  font-size: 26px;
}
[data-dpr="2"] .m-ps-box {
  font-size: 26px;
}
[data-dpr="2"] .m-order-box {
  font-size: 26px;
}
[data-dpr="2"] .m-ico-box .info {
  font-size: 24px;
}
[data-dpr="2"] .m-ico-box .ico {
  height: 1.0rem;
  line-height: 1.6;
}
[data-dpr="2"] .m-ico-box .I-ico {
  font-size: 50px;
}
[data-dpr="2"] .m-ico-box .pay-success {
  font-size: 36px;
  line-height: 1.8;
}
[data-dpr="2"] .m-pal-box h2 {
  font-size: 32px;
}
[data-dpr="2"] .m-pal-box .crtdd {
  font-size: 24px;
}
[data-dpr="2"] .m-pal-box .tip {
  font-size: 20px;
}
[data-dpr="2"] .m-pay-success {
  font-size: 32px;
}
[data-dpr="2"] .m-pay-success .I-ico {
  font-size: 66px;
  line-height: 1.3;
}
[data-dpr="2"] .m-pay-tip {
  font-size: 28px;
}
[data-dpr="2"] .m-pay-tip dd span {
  font-size: 48px;
}
[data-dpr="3"] .m-goods-info {
  font-size: 36px;
}
[data-dpr="3"] .m-goods-info .cont .price {
  font-size: 42px;
}
[data-dpr="3"] .m-goods-info .cont .tt {
  font-size: 48px;
}
[data-dpr="3"] .m-goods-info .Sign li .I-ico {
  font-size: 78px;
}
[data-dpr="3"] .m-goods-box .tt {
  font-size: 48px;
}
[data-dpr="3"] .m-goods-box .cont .shoptype li {
  font-size: 36px;
}
[data-dpr="3"] .btn-box {
  font-size: 48px;
  line-height: 0.8rem;
}
[data-dpr="3"] .btn-box .btn {
  line-height: 0.8rem;
  font-size: 48px;
}
[data-dpr="3"] .easyDialog_wrapper .easyDialog_title {
  font-size: 42px;
  height: 1.6rem;
  line-height: 1.6rem;
}
[data-dpr="3"] .easyDialog_wrapper .close_btn {
  font-size: 60px;
}
[data-dpr="3"] .easyDialog_wrapper .btn_highlight,
[data-dpr="3"] .easyDialog_wrapper .btn_normal {
  font-size: 36px;
  height: 0.72rem;
  line-height: 0.72rem;
}
[data-dpr="3"] .loginBox .login_tips {
  margin-top: 10px;
  height: 0.32rem;
  line-height: 0.32rem;
}
[data-dpr="3"] .loginBox input {
  padding: 0.25rem 0.25rem 0.25rem  ;
}
[data-dpr="3"] .loginBox #un,
[data-dpr="3"] .loginBox #pw {
  padding-left: 0.853333rem;
  width: 100%;
  font-size: 36px;
}
[data-dpr="3"] .loginBox .login {
  padding: 0.133333rem 0;
  font-size: 48px;
}
[data-dpr="3"] .loginBox .I-ico {
  font-size: 32px;
  top: 0.4rem;
}
[data-dpr="3"] .m-size .I-ico {
  right: 5px;
  top: -0.266667rem;
  font-size: 68px;
  width: 66px;
  height: 66px;
  line-height: 66px;
}
[data-dpr="3"] .m-size .goods .cont .txt {
  font-size: 36px;
  height: 2.266667rem;
}
[data-dpr="3"] .m-size .goods .cont .txt h2 {
  height: 1.333333rem;
  font-size: 48px;
}
[data-dpr="3"] .m-size .goods .cont .un-price {
  margin: 0 0.133333rem;
  font-size: 36px;
}
[data-dpr="3"] .m-size dt {
  font-size: 36px;
}
[data-dpr="3"] .m-size dd span {
  line-height: 0.533333rem;
  font-size: 40px;
}
[data-dpr="3"] #J-Stock .txt {
  padding-top: 0.28rem;
}
[data-dpr="3"] #J-Stock .cutNum,
[data-dpr="3"] #J-Stock .addNum {
  width: 0.8rem;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 54px;
}
[data-dpr="3"] #J-Stock #quantity,
[data-dpr="3"] #J-Stock .quantity {
  height: 0.8rem;
  padding: 0 0.066667rem;
  width: 0.8rem;
}
[data-dpr="3"] .g-msg-box .tt {
  font-size: 48px;
}
[data-dpr="3"] .g-msg-box .cont textarea {
  font-size: 42px;
}
[data-dpr="3"] .m-order-list .shop-tt {
  font-size: 48px;
}
[data-dpr="3"] .m-order-list .shop-tt h2 {
  font-size: 48px;
}
[data-dpr="3"] .m-order-list .tt {
  font-size: 42px;
}
[data-dpr="3"] .m-order-list .config {
  font-size: 36px;
}
[data-dpr="3"] .m-order-list .price {
  font-size: 42px;
}
[data-dpr="3"] .m-manageAdd .cont .txt {
  font-size: 36px;
}
[data-dpr="3"] .m-manageAdd .I-ico {
  font-size: 50px;
}
[data-dpr="3"] .m-fillAdd {
  font-size: 36px;
}
[data-dpr="3"] .m-ps-box {
  font-size: 42px;
}
[data-dpr="3"] .m-order-box {
  font-size: 42px;
}
[data-dpr="3"] .m-ico-box .info {
  font-size: 42px;
}
[data-dpr="3"] .m-ico-box .ico {
  height: 1.0rem;
  line-height: 1.6;
}
[data-dpr="3"] .m-ico-box .I-ico {
  font-size: 90px;
}
[data-dpr="3"] .m-ico-box .pay-success {
  font-size: 60px;
  line-height: 1.8;
}
[data-dpr="3"] .m-pal-box h2 {
  font-size: 42px;
}
[data-dpr="3"] .m-pal-box .crtdd {
  font-size: 36px;
}
[data-dpr="3"] .m-pal-box .tip {
  font-size: 30px;
  color: #999;
}
[data-dpr="3"] .m-pay-success {
  font-size: 48px;
}
[data-dpr="3"] .m-pay-success .I-ico {
  font-size: 110px;
  line-height: 1.3;
}
[data-dpr="3"] .m-pay-tip {
  font-size: 42px;
}
[data-dpr="3"] .m-pay-tip dd span {
  font-size: 72px;
}
