.wdc-cont-list,
.wsc-userInfo {
  position: relative;
  z-index: 100;
}
.wdc-cont-list {
  top: 70px;
  margin-left: 1%;
  padding-bottom: 70px;
}
.wdc-cont-list h2 {
  text-align: center;
}
.wdc-cont-list dd {
  width: 32%;
  margin: 1% 1.5% 0 0;
  float: left;
}
.wdc-cont-list dd a {
  display: block;
}
.wdc-cont-list dd img {
  width: 100%;
}
.wdc-cont-list dd:nth-child(3n+1) {
  margin: 1% 0 0 0;
}
.wsc_ad img {
  width: 99%;
}
.wsc-userInfo {
  top: 70px;
  background-color: #fff;
}
.wsc-userInfo .info {
  min-height: 160px;
  background: url(../img/wsc_nav_bg.png) bottom repeat-x;
  background-size: 14px 14px;
}
.wsc-userInfo .info img {
  float: left;
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  -o-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
  width: 100px;
  margin: 10px;
  border: 3px solid #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.wsc-userInfo .info .cont {
  margin-left: 130px;
  padding: 20px;
}
.wsc-userInfo .info .cont p {
  padding: 20px 0;
  text-align: right;
  color: #666;
}
.wsc-userInfo .userList {
  background-color: #fff;
  border-bottom: 1px solid #c7c7c7;
  padding-bottom: 120px;
}
.wsc-userInfo .userList dl {
  margin: 0 10px;
}
.wsc-userInfo .userList dd {
  border-bottom: 1px solid #c7c7c7;
  font-size: 14px;
  line-height: 46px;
}
.wsc-userInfo .userList dd a {
  display: block;
}
.wsc-userInfo .userList .address {
  background: url(../img/wsc_address.png) center no-repeat;
}
.wsc-userInfo .userList .wallet {
  background: url(../img/wsc_wallet.png) center no-repeat;
}
.wsc-userInfo .userList .setInfo {
  background: url(../img/wsc_setInfo.png) center no-repeat;
}
.wsc-userInfo .userList .msg {
  background: url(../img/wsc_msg.png) center no-repeat;
}
.wsc-userInfo .userList .collect {
  background: url(../img/wsc_collect.png) center no-repeat;
}
.wsc-userInfo .userList .ico {
  display: inline-block;
  padding: 20px;
  background-size: 50px 50px;
  float: left;
}
.wsc-userInfo .userList .p-center {
  text-align: center;
  padding-top: 20px;
}
.wsc-userInfo .userList .btn-quit {
  background-color: #f9f9f9;
  display: inline-block;
  padding: 8px 20px;
  border: 1px solid #d3d9de;
  color: #666;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -o-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}
.wsc-car {
  top: 70px;
  position: relative;
}
.wsc-car dl {
  background-color: #fff;
  border-bottom: 1px solid #c7c7c7;
  padding-bottom: 30px;
}
.wsc-car dd {
  padding: 0 80px 0 60px;
  margin: 0 10px;
  border-bottom: 1px solid #c7c7c7;
}
.wsc-car .cont,
.wsc-car .section,
.wsc-car .del {
  float: left;
}
.wsc-car .cont {
  width: 100%;
  height: 120px;
  padding: 10px 0;
}
.wsc-car .section {
  height: 70px;
  position: relative;
  width: 40px;
  left: -60px;
  margin-left: -100%;
  padding: 50px 0 0 20px;
}
.wsc-car .del {
  height: 70px;
  position: relative;
  width: 50px;
  right: -80px;
  margin-left: -80px;
  padding: 50px 0 0 30px;
}
.wsc-car .pire {
  float: left;
  width: 130px;
}
.wsc-car .pire p {
  padding: 5px;
}
.wsc-car .wsc-info {
  margin-left: 130px;
}
.wsc-car .wsc-info li {
  line-height: 30px;
}
.wsc-car .add {
  background: url(../img/wsc_add.png) center repeat-x;
}
.wsc-car .sub {
  background: url(../img/wsc_sub.png) center repeat-x;
}
.wsc-car .add,
.wsc-car .sub {
  display: inline-block;
  padding: 8px;
  background-size: 30px 30px;
  vertical-align: middle;
}
.aside {
  padding: 0 120px 0 120px;
}
.aside .cont,
.aside .section,
.aside .del {
  float: left;
}
.aside .cont {
  width: 100%;
  height: 50px;
  padding: 25px 0;
}
.aside .cont p {
  color: #f7123d;
  font-size: 14px;
}
.aside .cont p span {
  display: block;
  padding-left: 40px;
  color: #666;
}
.aside .section {
  height: 60px;
  position: relative;
  width: 120px;
  left: -120px;
  margin-left: -100%;
  padding: 40px 0 0 30px;
}
.aside .section span {
  font-size: 14px;
  vertical-align: top;
  margin-left: 5px;
}
.aside .del {
  height: 60px;
  position: relative;
  width: 120px;
  right: -120px;
  margin-left: -120px;
  padding: 40px 0 0 0;
}
.wsc-msg-box {
  background-color: #fff;
  border-bottom: 1px solid #c7c7c7;
  padding-bottom: 120px;
  position: relative;
  top: 70px;
}
.wsc-msg-box dl {
  margin: 0 10px;
}
.wsc-msg-box dd {
  border-bottom: 1px solid #c7c7c7;
  font-size: 14px;
  line-height: 26px;
  padding: 10px 0;
}
.wsc-msg-box dd a {
  display: block;
  height: 100px;
}
.wsc-msg-box .pire {
  float: left;
  width: 88px;
  height: 88px;
  padding: 6px;
  overflow: hidden;
  background: url(../img/msg_bg.png) center no-repeat;
  background-size: 88px 88px;
}
.wsc-msg-box .pire img {
  width: 88px;
  height: 88px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -o-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}
.wsc-msg-box .msg-info {
  margin-left: 110px;
  height: 100px;
}
.wsc-msg-box .msg-date {
  float: right;
  font-size: 12px;
  color: #999;
  font-weight: 400;
}
.wsc-msg-box .info-box {
  background-color: #f4f4f4;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -o-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  border: 0px none;
  margin-top: 20px;
}
.wsc-msg-box .info-box .msg-title {
  border-bottom: 1px solid #dedede;
  text-align: center;
}
.wsc-msg-box .info-box .smg-cont {
  border-top: 1px solid #fdfdfd;
  padding: 10px;
  overflow: hidden;
}
.wsc-msg-box .info-box .smg-cont .msg-info {
  height: auto;
}
.wsc-msg-box .info-box .smg-cont img {
  width: 100%;
}
.wsc-msg-box .info-box .msg-footer {
  text-align: center;
  padding: 5px 10px;
}
.wsc-msg-box .info-box .delete {
  display: inline-block;
  height: auto;
  background-color: #fcfcfc;
  padding: 4px 30px;
  color: #555;
  font-size: 16px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -o-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #d3d9de;
}
#pb_money {
  color: #1bb974;
}
#MsgPop {
  background: rgba(0, 0, 0, 0.8);
  /*前三个参数为rgb颜色，第四个参数为透明度*/
  min-height: 80px;
  width: 80%;
  position: absolute;
  top: 60%;
  left: 10%;
  z-index: 99999;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -moz-box-shadow: 0px 1px 3px #ccc;
  -webkit-box-shadow: 0px 1px 3px #ccc;
  box-shadow: 0px 1px 3px #ccc;
}
#MsgPop .ok {
  background: url(../img/pop_ok.png) 10px center no-repeat;
}
#MsgPop .no {
  background: url(../img/pop_error.png) 10px center no-repeat;
}
#MsgPop .normal {
  background: url(../img/pop_default.png) 10px center no-repeat;
}
#MsgPop .price {
  background-size: 60px 60px;
  height: 100%;
  width: 80px;
  position: absolute;
  float: left;
}
#MsgPop .info {
  margin-left: 70px;
  padding: 8px 15px;
  color: #fff;
  text-indent: 2em;
}
.guide {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../img/guide.jpg) #F7123D center no-repeat;
  background-size: 80%;
}
